@import "~ed-grid"; // Importamos todo lo que venga de la librería ed-grid
@import "~edteam-style-guides/edteam-style-guides"; // Importamos todo lo que venga de la librería edteam styles guides

.btn{
    color: #FFF !important;
    font-weight: 400;
}
.main-menu li:not(:last-child){
    padding-top: 10px;
}
.main-logo{
    height: 3rem;
}
.main-banner__img{
    opacity: 0.4;
}